* {padding:0;margin:0;}
.nav-container {display:flex;justify-content: space-around;background-color:rgb(47, 32, 40);color:white;padding:20px;}
.items{display:flex;list-style: none;}
.item {margin-left:20px;font-size: 25px;font-weight: bold;}

                /* Banner Section */

 .banner-container {
    width:100%;
    height:100vh;
    background-image:linear-gradient(#030d18ab,#1ecd1b75),url('../asset//image/background.jpg');background-size:cover;
    background-repeat:no-repeat;display:flex;text-align:center;align-items: center;color:rgb(255, 255, 255);
 }
 
 .banner-title {
    font-size:40px;font-size:bold;
 }

 .primary {color:rgba(0, 255, 38, 0.992);font-size:35px;}

 .description {color:rgb(153, 255, 0);font-size:30px;margin-top:20px;}

 .btn{padding:10px 25px;font-size:15px;font-weight: bold;border:none;border-radius: 5px;}
 .btn-discover {background-color: red;color:white;margin-right: 10px;}

                  /* Service container Section */

.service-container {
    background-image:linear-gradient(#167f16cf,rgb(234, 101, 101)),url('../asset/image/footer-bg.png');color:white;justify-content: center;align-items: center;
    width:100%;height:100vh;display:flex;gap:20px;
   
}
.service-left-container {width:50%;}
.service-description {width:80%;font-size:25px;margin-top: 20px;}
.service-details {padding:0px;}
.service-list-btn {background-color:rgb(11, 1, 28);color:white;border-radius: 20px;}

.author-identity {color:black;border-right:3px solid black;padding-right: 70px;height: 60px;}
.author-identity img {border-radius:50%;width:100px;}
.author-identity {display:flex;align-items: center;gap: 20px;}
.author-details {display:flex;align-items: center;gap: 14px;margin-top:25px;}

                    /* Servie Second part has started from here */

.service-up {display:flex;gap:10px;}
.service {width:120px;height:100px;padding:30px;box-shadow: 4px 5px 8px gray;text-align: center;border-radius:13px;background-color: whitesmoke;}
.service-logo{width:50%;}
.down-logo{width:30%;}
.service-down {display: flex;gap:10px;margin-top: 10px;}

                     /* The code Appoinst Section are below */

 .appoinment-section {display:flex;width:60%;background-color: red;color: white;padding:20px;border-radius: 15px;justify-content: center;align-items: center;margin: auto;position: relative; top:-30px;}
 .call-icon {width:60px;}
 .contacting-div {display: flex;gap:10px;margin-right: 10px;}
 .appoinment-btn {padding: 0 20px; height: 40px;border: none;border-radius:15px;}
 
                    /* Here is About Blog And News */

  .content-article {text-align:center;width: 60%;text-align: center;margin: auto;}

                     /* The card of Airticle Section */

.container {margin-top: 30px;display: flex;justify-content: center;align-items: center;gap:15px;width:90%;margin:40px auto;}
.container div {padding:15px;box-shadow: 2px 2px 7px black;}
 .container div img {width:100%;}
 .every-div {width:30%;}                    
  
                        /* Footer section is creatin below */
  
                        
.footer-section {background-color: black;width:100%;height:65vh;color:white;display:flex;justify-content: center;align-items: center;}
.about-agence {width:30%;}
.media-icons i {margin-right:20px; font-size:25px;}
.list-container {list-style: none;margin-top:20px;}
.list-container li {line-height: 23px;font-size: 15px;}
.some-links {padding: 0 25px;}
